/* You can add global styles to this file, and also import other style files */
@import "~bootstrap-icons/font/bootstrap-icons.css";
::-webkit-scrollbar{
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb{
  background: #d1cdcd;
  border-radius: 10px;
}

::-webkit-scrollbar-track{
  box-shadow: inset 0 0 5px #8080804d;
  border-radius: 10px;
}
a, a:hover, a:focus, a:active {
  text-decoration: none !important;
  color: inherit !important;
}
